<footer>
  <div class="container">
    <div class="row stretch-item">

      <div class="hidden-xs hidden-sm hidden-md col-lg-4">
        <div class="footer-logo">
          <b><img src="{{template.logo}}" alt="" style="max-width:210px;"/></b>
          <p>
        </div>
        <p class="footer-description">
			Our mission statement is to assemble electronic music’s most legendary and innovative artists and professionals from across the globe to demonstrate the huge potential for Electronic Dance Music throughout Asia.
        </p>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-6 col-md-push-2">
        <span class="join-us">Join Us</span><br><br>
		<div id="mc_embed_signup">
		<form action="//asianmusicconferences.us12.list-manage.com/subscribe/post?u=0fddf10f0185f7d94318290c3&amp;id=f72a2b2bfa" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		    <div id="mc_embed_signup_scroll">
			<input type="email" value="" name="EMAIL" class="join-input" placeholder="Enter your Email" id="mce-EMAIL" placeholder="Enter your Email" required>
		    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
		    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0fddf10f0185f7d94318290c3_f72a2b2bfa" tabindex="-1" value=""></div>
		    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="join-submit">
		    </div>
		</form>
		</div>
 <!--       <input type="text" name="email" class="join-input" placeholder="Enter your Email">
        <input type="button" name="submit" value="SUBMIT" class="join-submit"> -->
        <br><br><br>
        <div class="social-buttons">
          <button type="button" class="facebook"></button>
          <button type="button" class="twitter"></button>
          <button type="button" class="youtube"></button>
          <button type="button" class="instagram"></button>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-md-pull-10 col-lg-pull-6">
        <ul class="footer-sitemap">
          <li ng-repeat="item in template.items"><a ng-href="{{item.url}}" class="footer-link">{{item.name}}</a></li>
        </ul>
      </div>

    </div>
  </div>
</footer>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <span class="copyright">2016 The Asian Music Conference</span>
    </div>
  </div>
</div>
