<section mark="latest-event.html">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="banner-label">
          <div class="deck"></div>
          <span class="tamc-h1 white-text">
            <p>
              Latest Conference
            </p>
          </span>
        </div>
        <div class="banner-image">
           <a ng-href="{{template.link}}">
              <img src="{{template.image}}" class="hidden-xs" />
     	      <img src="{{template.image}}" class="hidden-sm hidden-md hidden-lg" />
           </a>
        <!--  <img src="http://placehold.it/768x477?text=Latest Conference" class="hidden-sm hidden-md hidden-lg" /> -->
        </div>
      </div>
    </div>
  </div>
</section>
